body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.maincontainer{
    height: 100vh;
    background-color: #000000;
    width: 300px;
      display: grid;
  grid-template-rows: auto 1fr; /* logo takes natural height, container fills rest */
}
.container{
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 5px;
    background-color: black;
    
   justify-items: center;  
  align-content: center;
}

.btn{margin-left:20px;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    width: 250px;
    height: 50px;
    border: solid white 2px;
    border-radius: 5px;
}
.btn:hover{
    background-color: rgb(64, 61, 61);
    color:white;
    border: solid white 2px;
    width: 245px;
    height: 45px;
    
}
/*.btn:active{
    background-color: rgb(244, 244, 247);
    color:black;
    border: solid black 2px;
    
}*/
.logo{
    margin-left: 40px;
    width: 200px;
}