body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.maincontainer{
    position: fixed;
    height: 100vh;
    background-color: #000000;
    width: 300px;
      display: grid;
  grid-template-rows: auto 1fr; /* logo takes natural height, container fills rest */
}
.container{
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 5px;
    background-color: black;
    
   justify-items: center;  
  align-content: center;
}

.btn{margin-left:20px;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    width: 250px;
    height: 50px;
    border: solid white 2px;
    border-radius: 5px;
     transition: transform 0.2s;
}
.sb:hover{
    background-color: rgb(64, 61, 61);
    color:white;
    border: solid white 2px;
    width: 245px;
    height: 45px;
    
}
/*.btn:active{
    background-color: rgb(244, 244, 247);
    color:black;
    border: solid black 2px;
    
}*/
.logo{
    margin-left: 40px;
    width: 200px;
}
.login{
    display:flex;
    align-items:center;
    justify-content: flex-end;
      background-image: radial-gradient(circle at center, #1e047e, #000000);
   padding: 0 20px;
   height:60px
}
.sign{
   text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 45px;
    border: solid white 2px;
    border-radius: 50px;
}
.sign:hover{

    background-color: rgb(64, 61, 61);
    color:white;
    border: solid white 2px;
    width: 95px;
    height: 40px;
    
}


/* Main content area */
.content-section {
  margin-left: 300px; /* leave space for fixed sidebar */
  
  padding: 100px;
  background-color: #111;
  color: white;
  height: auto;
}

.mid{
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 20px; /* space between columns and rows */
  padding: 20px;
grid-auto-flow: row;
 height: 250px;
 width: 600px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 auto; 
}
.one{

grid-column: span 2/3;
  text-align: center;
}
.two{
       grid-row: span 4;
    grid-column: span 1;
      text-align: center;
}
.three{
      grid-row: span 3;
}
.four{
      grid-row: span 2;
}
.mid>form>button{
 padding: 20px;
  text-align: center;
  border: 1px solid #333;
  border-radius: 8px;
 align-content: center;
color: #000000;
width:100%;
height:100%;
background-color: #f4f4f4;
cursor: pointer;
transition: transform 0.2s;}

 .page-section{
    margin: 30px; /* leave space for fixed sidebar */
    padding: 80px;
    background-color: #111;
    color: white;
    height: auto;
    border: #f4f4f4 solid 2px;
    border-radius: 5px;
    width: 50vw;
    
 }
 .welcome{
    text-align: left;
    margin-top: 50px;
 }